<main class="container">
  @if(isLoading) {
    <div class="pokemon-list-container">
    @for (_ of listVoid; track $index) {
      <div class="loader">
        <div class="wrapper">
          <div class="circle"></div>
          <div class="line-4"></div>
        </div>
      </div>
    }
    </div>
  } @else {
    @if(pokemonPaginator) {
      <div class="pokemon-list-container">
      @for (item of pokemonPaginator.results; track $index) {
        <a [routerLink]="`./${$index + pageCurrent + 1}`">
          <mat-card>
            <img class="card-image" mat-card-image [src]="getImages($index + pageCurrent + 1)" alt="search">
            <mat-card-content>
              <p>{{item.name}}</p>
            </mat-card-content>
          </mat-card>
        </a>
      }
      </div>
      <mat-paginator
        [length]="pokemonPaginator.count"
        [pageSize]="pageSize"
        (page)="changePage($event)"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="[10, 20, 50, 100, 200]"
        aria-label="Select page">
      </mat-paginator>
    }
  }
</main>